{% extends 'base.html' %}
{% load bulma_tags %}
{% block app %}
  <div class="container is-fluid" v-if="'{{ user.is_authenticated }}' == 'True'">
    <div class="tile is-ancestor">
      <!-- List Menu -->
      <div class="tile is-2 is-vertical is-parent">
        <div class="tile is-child box">
          <div class="title">{{ user.username }}</div>
          <a class="button is-dark is-inverted is-fullwidth" @click="toggleInput" style="margin-top: auto">
            <i class="fas fa-plus" style="margin-right: 7px"></i> add new
          </a>
          <p class="menu-label" v-if="lists.length">
            todo lists
          </p>
          <ul>
            <li class="button is-fullwidth"
                :class="{ 'is-dark is-inverted': list != selectedList, 'is-primary is-disable': list == selectedList }"
                v-for="list in lists"
                @click="selectList(list)"
                style="margin-top: 10px;">
              [[ list.title ]]
            </li>
          </ul>
        </div>
      </div>
      <!-- Selected List -->
      <div class="tile is-parent">
        <!-- No Lists -->
        <div class="tile is-child box" v-if="!selectedList.todos">
          <p class="title">Create new list</p>
          <a class="button is-dark is-inverted is-fullwidth" @click="toggleInput" style="margin-top: auto">
            <i class="fas fa-plus" style="margin-right: 7px"></i> add new
          </a>
        </div>
        <!-- Have Lists -->
        <div class="tile is-child box" v-else>
          <!-- List Title -->
          <p class="title">[[ selectedList.title ]]
            <a style="font-size: 1rem; margin: 5px;" @click="toggleTitle" class="has-text-black">
              <i class="far fa-edit"></i></a>
            <a style="font-size: 1rem;" @click="deleteList" class="has-text-black">
              <i class="far fa-trash-alt"></i></a>
          </p>
          <!-- Todos Input -->
          <input class="input" type="text" v-model="todoInput" placeholder="Add todo..."
                 @keyup.enter="createTodo(selectedList)">
          <!-- No Todos -->
          <aside class="menu" v-if="!selectedList.todos.length" style="margin-top: 10px;">
            <div class="div" style="margin-top: 30px">
              <span>
                <i class="fas fa-arrow-up" style="margin: 0 10px"></i>
                Input something to do, and press enter key
              </span>
            </div>
          </aside>
          <!-- Have Todos -->
          <aside class="menu" v-else style="margin-top: 10px;">
            <div class="tile is-parent is-vertical">
              <!-- Overdue -->
              <div class="tile is-child" v-show="overdue.length || staredOverdue.length">
                <p class="menu-label has-text-danger has-text-weight-bold">Overdue</p>
                <!-- Stared & Overdue -->
                <div v-show="staredOverdue.length">
                  <ul class="menu-list">
                    <li v-for="todo in staredOverdue">
                      <a>
                        <span class="has-text-primary" @click="important(todo)"><i class="fas fa-star"></i></span>
                        <span @click="check(todo)" style="margin-right: 10px"><i class="far fa-square"></i></span>
                        <span style="display: inline-block; width: 87.5%;"
                              @click="toggleTodo(todo)">[[ todo.title ]]</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- Not Stared & Overdue -->
                <div v-show="overdue.length">
                  <ul class="menu-list">
                    <li v-for="todo in overdue">
                      <a>
                        <span @click="important(todo)"><i class="far fa-star"></i></span>
                        <span @click="check(todo)" style="margin-right: 10px"><i class="far fa-square"></i></span>
                        <span style="display: inline-block; width: 87.5%;"
                              @click="toggleTodo(todo)">[[ todo.title ]]</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Stared & Not Finished -->
              <div class="tile is-child" v-show="stared.length">
                <p class="menu-label has-text-primary has-text-weight-bold">
                  Important
                </p>
                <ul class="menu-list">
                  <li v-for="todo in stared">
                    <a>
                      <span class="has-text-primary" @click="important(todo)"><i class="fas fa-star"></i></span>
                      <span class="" @click="check(todo)" style="margin-right: 10px"><i
                          class="far fa-square"></i></span>
                      <span style="display: inline-block; width: 87.5%;" @click="toggleTodo(todo)">[[ todo.title ]]</span>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- Not Finished -->
              <div class="tile is-child" v-show="notFinished.length">
                <p class="menu-label has-text-weight-bold">
                  Todos
                </p>
                <ul class="menu-list">
                  <li v-for="todo in notFinished">
                    <a>
                      <span @click="important(todo)"><i class="far fa-star"></i></span>
                      <span @click="check(todo)" style="margin-right: 10px"><i class="far fa-square"></i></span>
                      <span style="display: inline-block; width: 87.5%;" @click="toggleTodo(todo)">[[ todo.title ]]</span>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- Finished -->
              <div class="tile is-child" v-show="finished.length || staredFinished.length">
                <p class="menu-label has-text-weight-bold has-text-grey-light">Finished</p>
                <!-- Stared & Finished -->
                <div v-show="staredFinished.length">
                  <ul class="menu-list">
                    <li v-for="todo in staredFinished">
                      <a>
                        <span class="has-text-primary" @click="important(todo)"><i class="fas fa-star"></i></span>
                        <span @click="check(todo)" style="margin-right: 10px"><i class="far fa-check-square"></i></span>
                        <span style="display: inline-block; width: 87.5%;" @click="toggleTodo(todo)">
                    <s>[[ todo.title ]]</s>
                  </span>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- Not Stared & Finished -->
                <div v-show="finished.length">
                  <ul class="menu-list">
                    <li v-for="todo in finished">
                      <a>
                        <span @click="important(todo)"><i class="far fa-star"></i></span>
                        <span @click="check(todo)" style="margin-right: 10px"><i class="far fa-check-square"></i></span>
                        <span style="display: inline-block; width: 87.5%;" @click="toggleTodo(todo)">
                    <s>[[ todo.title ]]</s>
                  </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Page for Anonymous User -->
  <section class="hero is-fullheight is-primary is-bold" v-else>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-one-third">
          </div>
          <div class="column">
            <h1 class="title">
              ㅇㅅㄹㅅㅌ Wookslist
            </h1>
            <h2 class="subtitle">
              Plan Your Life and Never Be Stuck Again
            </h2>
            <a class="button is-light is-medium" href="{% url 'accounts:signup' %}">
              <span>Sign up, and join us</span>
            </a>
            <a class="button is-light is-outlined is-medium" href="{% url 'accounts:login' %}">
              <span>Login</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal" :class="{'is-active':toggle}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <!-- Add List Modal -->
      <section class="modal-card-body" v-show="toggleType==='input'">
        <p class="title">New list</p>
        <input class="input" type="text" placeholder="title input" v-model="listInput" @keydown.enter="createList"
               style="margin-bottom: 20px">
        <button class="button is-primary" @click="createList">Add</button>
        <button class="button" @click="toggleInput">Cancel</button>
      </section>
      <!-- Edit Title Modal -->
      <section class="modal-card-body" v-show="toggleType==='title'">
        <p class="title">Edit title</p>
        <input class="input" type="text" placeholder="title input" v-model="changeTitle" @keydown.enter="changeList"
               style="margin-bottom: 20px">
        <button class="button is-primary" @click="changeList">Update</button>
        <button class="button" @click="toggleTitle">Cancel</button>
      </section>
      <!-- Todos Detail Modal -->
      <section class="modal-card-body" v-show="toggleType==='todo'" style="padding: 2rem;">
        <!-- Todos Title -->
        <p class="title" style="display: flex;">
          [[ selectedTodo.title ]]
          <span style="margin-left: auto;"></span>
          <a style="font-size: 1.15rem; margin-right: 10px;" class="has-text-black" v-show="!edit"
             @click="goEdit">
            <i class="far fa-edit"></i></a>
          <a style="font-size: 1.15rem; margin-right: 12px;" class="has-text-black" @click="deleteTodo(selectedTodo)">
            <i class="far fa-trash-alt"></i></a>
          <button class="delete" aria-label="close" @click="toggleTodo(selectedTodo)"></button>
        </p>
        <!-- View Todos -->
        <div v-show="!edit" style="margin-top: 2.5rem; margin-left: 0.5rem">
          <!-- Due Date Field -->
          <div class="field" style="margin-bottom: 2rem">
            <label class="label">
              <span style="margin-right: 3px"><i class="far fa-clock"></i></span>
              Due Date
            </label>
            <div class="content">
              [[ selectedTodo.due_date || "without any due date" ]]
            </div>
          </div>
          <!-- Content Field -->
          <div class="field">
            <label class="label">
              <span style="margin-right: 3px"><i class="far fa-file-alt"></i></span>
              Content
            </label>
            <div class="content">
              [[ selectedTodo.content || "without any content" ]]
            </div>
          </div>
        </div>
        <!-- Edit Todos -->
        <div v-show="edit">
          <div class="field">
            <div class="field">
              <label class="label">Title</label>
              <div class="control">
                <input class="input" type="text" placeholder="Title input" v-model="editDetail.title">
              </div>
            </div>
            <div class="field">
              <label class="label">Content</label>
              <div class="control">
                <textarea class="textarea" placeholder="Content input" v-model="editDetail.content"></textarea>
              </div>
            </div>
            <div class="field">
              <label class="label">Due Time</label>
              <div class="control">
                <input ref='trigger' type='date' data-type="date" data-show-header="false" data-date-format="YYYY-MM-DD"
                       data-display-mode="inline" data-show-clear-button="false" data-show-today-button="false">
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-primary" v-show="edit" @click="changeTodo">Update</button>
              </div>
              <div class="control">
                <button class="button is-text" v-show="edit" @click="goEdit">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    const app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
        lists: [],
        selectedList: [],
        selectedTodo: [],
        listInput: '',
        todoInput: '',
        detailInput: '',
        changeTitle: '',
        toggle: false,
        edit: false,
        toggleType: '',
        calendar: '',
        editDetail: {
          title: '',
          content: '',
          due_date: '',
        },
      },
      methods: {
        // Lists methods
        createList: function () {
          if (this.listInput) {
            axios.post("{% url 'todos:lists_list' %}", {
              title: this.listInput,
            }).then((res) => {
              console.log('Save list');
              const list = res.data;
              this.lists.push(list);
              this.selectedList = list;
            });
            this.listInput = '';
            this.toggle = false;
          } else {
            console.log('Nothing to submit')
          }
        },
        changeList: function () {
          axios.patch(
            "{% url 'todos:lists_detail' 123 %}".replace('123', `${this.selectedList.id}`),
            {'title': this.changeTitle})
            .then(res => {
              this.selectedList.title = res.data.title;
              this.changeTitle = '';
              this.toggle = false;
              this.toggleType = '';
            });
        },
        deleteList: function () {
          const result = confirm(`"${this.selectedList.title}" will be deleted forever.`);
          if (result) {
            axios.delete("{% url 'todos:lists_detail' 123 %}".replace('123', `${this.selectedList.id}`))
              .then(res => {
                this.lists = this.lists.filter(list => list !== this.selectedList);
                if (this.lists.length) {
                  this.selectedList = this.lists[0];
                } else {
                  this.selectedList = [];
                }
              })
          }
        },
        selectList: function (list) {
          this.selectedList = list;
        },
        toggleTitle: function () {
          if (this.toggle) {
            this.toggle = false;
            this.toggleType = ''
          } else {
            this.toggle = true;
            this.toggleType = 'title';
            this.changeTitle = this.selectedList.title;
          }
        },
        toggleInput: function () {
          if (this.toggle) {
            this.toggle = false;
            this.toggleType = ''
          } else {
            this.toggle = true;
            this.toggleType = 'input'
          }
        },
        // Todos methods
        createTodo: function (list) {
          if (this.todoInput) {
            axios.post("{% url 'todos:todos_list' %}", {
              title: this.todoInput,
              list: list.id,
            }).then((res) => {
              console.log('Save todo');
              const todo = res.data;
              list.todos.unshift(todo);
              this.selectedTodo = todo;
              this.toggleTodo(todo);
              this.goEdit();
            });
            this.todoInput = '';
          } else {
            console.log('Nothing to submit')
          }
        },
        changeTodo: function () {
          const data = this.editDetail;
          data.list = this.selectedTodo.list;
          axios.patch(
            "{% url 'todos:todos_detail' 123 %}".replace('123', `${this.selectedTodo.id}`), data)
            .then(res => {
              console.log(res.data);
              this.selectedTodo.title = res.data.title;
              this.selectedTodo.content = res.data.content;
              this.selectedTodo.due_date = res.data.due_date;
              this.edit = false;
            });
        },
        deleteTodo: function () {
          const result = confirm(`"${this.selectedTodo.title}" will be deleted forever.`);
          if (result) {
            axios.delete("{% url 'todos:todos_detail' 123 %}".replace('123', `${this.selectedTodo.id}`))
              .then(res => {
                this.selectedList.todos = this.selectedList.todos.filter(todo => todo !== this.selectedTodo);
                this.selectedTodo = [];
                this.toggle = false;
                this.toggleType = '';
              })
          }
        },
        check: function (todo) {
          axios.get("{% url 'todos:todos_check' 123 %}".replace('123', `${todo.id}`))
            .then(res => todo.check = res.data.check);
        },
        important: function (todo) {
          axios.get("{% url 'todos:todos_important' 123 %}".replace('123', `${todo.id}`))
            .then(res => todo.important = res.data.important);
        },
        toggleTodo: function (todo) {
          if (this.toggle) {
            this.toggle = false;
            this.toggleType = '';
            this.edit = false;
          } else {
            this.toggle = true;
            this.toggleType = 'todo';
            this.selectedTodo = todo;
          }
        },
        goEdit: function () {
          if (this.edit) {
            this.edit = false;
          } else {
            this.editDetail.title = this.selectedTodo.title;
            this.editDetail.content = this.selectedTodo.content;
            this.editDetail.due_date = this.selectedTodo.due_date;
            if (this.selectedTodo.due_date) {
              this.calendar.startDate = this.editDetail.due_date;
              console.log(this.calendar.value());
            } else {
              this.calendar.clear();
            }
            this.edit = true;
          }
        }
      },
      created: function () {
        let url = "{% url "accounts:profile" "foobar" %}";
        if ("{{ user.is_authenticated }}" === "True") {
          url = url.replace("foobar", "{{ user.username }}");
          axios.get(url)
            .then(res => {
              this.lists = res.data.lists;
            })
            .then(res => {
              if (this.lists.length) {
                this.selectedList = this.lists[0];
              } else {
                this.selectedList = [];
              }
            });
        }
      },
      computed: {
        staredOverdue: function () {
          const date = new Date();
          if (this.selectedList && this.selectedList.todos) {
            return this.selectedList.todos.filter(todo =>
              new Date(todo.due_date || 1000000000000000) <= date && !todo.check && todo.important)
          } else {
            return []
          }
        },
        overdue: function () {
          const date = new Date();
          if (this.selectedList && this.selectedList.todos) {
            return this.selectedList.todos.filter(todo =>
              new Date(todo.due_date || 1000000000000000) < date && !todo.check && !todo.important)
          } else {
            return []
          }
        },
        stared: function () {
          const date = new Date();
          if (this.selectedList && this.selectedList.todos) {
            return this.selectedList.todos.filter(todo =>
              new Date(todo.due_date || 1000000000000000) > date && todo.important && !todo.check)
          } else {
            return []
          }
        },
        notFinished: function () {
          const date = new Date();
          if (this.selectedList && this.selectedList.todos) {
            return this.selectedList.todos.filter(todo =>
              new Date(todo.due_date || 1000000000000000) > date && !todo.important && !todo.check)
          } else {
            return []
          }
        },
        staredFinished: function () {
          if (this.selectedList && this.selectedList.todos) {
            return this.selectedList.todos.filter(todo => todo.important && todo.check)
          } else {
            return []
          }
        },
        finished: function () {
          if (this.selectedList && this.selectedList.todos) {
            return this.selectedList.todos.filter(todo => !todo.important && todo.check)
          } else {
            return []
          }
        },
      },
      mounted() {
        this.calendar = new bulmaCalendar(this.$refs.trigger);
        this.calendar.on('select',
          e => this.editDetail.due_date = this.calendar.value() || null);
      },
    });
  </script>
{% endblock %}