{% extends 'base.html' %}
{% block app %}
  <div class="container is-fluid" v-if="'{{ user.is_authenticated }}' == 'True'">
    <div class="tile is-ancestor">
      <div class="tile is-2 is-vertical is-parent">
        <div class="tile is-child box">
          <div class="title">{{ user.username }}</div>
          <a class="button is-dark is-inverted is-fullwidth" @click="toggleInput" style="margin-top: auto">
            <i class="fas fa-plus" style="margin-right: 7px"></i> add new
          </a>
          <p class="menu-label">
            todo lists
          </p>
          <ul>
            <li class="button is-fullwidth"
                :class="{ 'is-dark is-inverted': list != selectedList, 'is-primary is-disable': list == selectedList }"
                v-for="list in lists"
                @click="selectList(list)"
                style="margin-top: 10px;">
              [[ list.title ]]
            </li>
          </ul>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">[[ selectedList.title ]]</p>
          <input class="input" type="text" v-model="todoInput" placeholder="Add todo..."
                 @keyup.enter="createTodo(selectedList)">
          <aside class="menu" v-show="selectedList.todos" style="margin-top: 10px;">
            <ul class="menu-list">
              <li v-for="todo in selectedList.todos" v-show="!todo.checked">
                <a>
                  <input type="checkbox" v-model="todo.checked">
                  [[ todo.title ]]
                </a>
              </li>
            </ul>
            <ul class="menu-list">
              <li v-for="todo in selectedList.todos" v-show="todo.checked">
                {#add vue method and django view action#}
                <a class="has-background-grey-lighter">
                  <input type="checkbox" v-model="todo.checked">
                  [[ todo.title ]]
                </a>
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <section class="hero is-fullheight is-primary is-bold" v-else>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-one-third">

          </div>
          <div class="column">
            <h1 class="title">
              ㅇㅅㄹㅅㅌ Wookslist
            </h1>
            <h2 class="subtitle">
              Plan Your Life and Never Be Stuck Again
            </h2>
            <a class="button is-light is-medium " href="{% url 'accounts:signup' %}">
              <span>Sign up, and join us</span>
            </a>
            <a class="button is-light is-outlined is-medium" href="{% url 'accounts:login' %}">
              <span>Login</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Modal -->
  <div class="modal" :class="{'is-active':toggle}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <section class="modal-card-body">
        <p class="title">New list</p>
        <input class="input" type="text" placeholder="title input" v-model="listInput" style="margin-bottom: 20px">
        <button class="button is-info" @click="createList">Add</button>
        <button class="button" @click="toggleInput">Cancel</button>
      </section>
    </div>
  </div>
  {#  <input type="text" v-model="detailInput" placeholder="디테일 추가..." @keydown.enter="createDetail(todo)">#}
  {#  <ul v-show="todo.details">#}
  {#    <li v-for="detail in todo.details">[[ detail.content ]]</li>#}
  {#  </ul>#}
{% endblock %}
{% block script %}
  <script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    const app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
        lists: [],
        listInput: '',
        todoInput: '',
        detailInput: '',
        selectedList: [],
        toggle: false,
      },
      methods: {
        toggleInput: function () {
          if (this.toggle) {
            this.toggle = false;
            this.listInput = '';
          } else this.toggle = true;
        },
        createList: function () {
          if (this.listInput) {
            axios.post("{% url 'todos:lists_list' %}", {
              title: this.listInput,
            }).then((res) => {
              console.log('Save list');
              const list = res.data;
              this.lists.push(list);
              this.selectedList = list;
            });
            this.listInput = '';
            this.toggle = false;
          } else {
            console.log('Nothing to submit')
          }
        },
        createTodo: function (list) {
          if (this.todoInput) {
            axios.post("{% url 'todos:todos_list' %}", {
              title: this.todoInput,
              list: list.id,
            }).then((res) => {
              console.log('Save todo');
              const todo = res.data;
              list.todos.push(todo);
            });
            this.todoInput = '';
          } else {
            console.log('Nothing to submit')
          }
        },
        createDetail: function (todo) {
          if (this.detailInput) {
            let url = "{% url 'todos:details_list' 0 %}";
            url = url.replace('0', `${todo.id}`);
            axios.post(url, {
              content: this.detailInput,
              todo: todo.id,
            }).then((res) => {
              console.log('Save detail');
              const detail = res.data;
              todo.details.push(detail);
            });
            this.detailInput = '';
          } else {
            console.log('Nothing to submit')
          }
        },
        selectList: function (list) {
          this.selectedList = list
        }
      },
      created: function () {
        let url = "{% url "accounts:profile" "foobar" %}";
        if ("{{ user.is_authenticated }}" === "True") {
          url = url.replace("foobar", "{{ user.username }}");
          axios.get(url)
            .then(res => {
              this.lists = res.data.lists;
            })
            .then(res => this.selectedList = this.lists[0]);
        }
      },
    });
  </script>
{% endblock %}