#app {
    min-height: 100vh;
    margin: 0;
    background-color: #0F1A26;
}

#app .container {
    padding-top: 5vh;
}

/* Nav */
nav {
    padding-bottom: 1vh;
}

.navbar-brand .navbar-item {
    font-family: "Gugi", cursvie;
    width: 150px;
}

a.navbar-item:hover {
    background-color: white;
}

.navbar-end .navbar-item {
    font-family: "Gugi", cursvie;
}

/* Signup */
.signup * {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}

.signup .title {
    font-family: 'Gugi', cursive;
    font-weight: bold;
    color: #fff;
}

.signup .label {
    color: #fff;
}

/* Login */
.login {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}

.login .title {
    font-family: 'Gugi', cursive;
    font-weight: bold;
    color: #fff;
}

.login .label {
    color: #fff;
    font-weight: 400;
}

.field .button {
    margin-top: 10px;
}

/* Footer */
.footer {
    padding: 2rem;
    padding-top: 3rem;
    background-color: #0F1A26;
}

/* Hero */
.hero-body {
    font-family: "Gugi", cursvie;
}

.hero h1.title {
    margin-bottom: 2.5rem;
}

.hero h1.title {
    margin-bottom: 2.5rem;
}