<!-- .Nav -->
{% load static %}
<nav class="navbar is-white" id="nav" style="padding-top: 0.6rem;">
  <div class="container is-fluid">
    <div class="navbar-brand">
      <div class="navbar-item">
        <img
            @mouseover="logo='https://rawcdn.githack.com/jiwookseo/wookslist/5ab5e25fa1b7273475190f906aed721960a1050c/static/image/logo1.png'"
            @mouseleave="logo='https://rawcdn.githack.com/jiwookseo/wookslist/5ab5e25fa1b7273475190f906aed721960a1050c/static/image/logo2.png'"
            :src="logo" @click="goHome">
      </div>
      <span class="navbar-burger burger"
            @click="showNav = !showNav"
            :class="{ 'is-active': showNav }"
            data-target="navbarMenuHeroA">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </span>
    </div>
    <div id="navbarMenuHeroA" class="navbar-menu has-background-white" :class="{ 'is-active': showNav }">
      <div class="navbar-end">
        {% if user.is_active %}
          <span class="navbar-item">
            <a class="button is-primary is-outlined" href="{% url 'accounts:logout' %}">
              <span>Logout</span>
            </a>
          </span>
          <span class="navbar-item">
            <a class="button is-primary" href="{% url 'todos:index' %}">
              <span>sign in by {{ user.username }}</span>
            </a>
          </span>
        {% else %}
          <span class="navbar-item">
            <a class="button is-primary is-outlined" href="{% url 'accounts:signup' %}">
              <span>Sign up</span>
            </a>
          </span>
          <span class="navbar-item">
            <a class="button is-primary" href="{% url 'accounts:login' %}">
              <span>Login</span>
            </a>
          </span>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
<script>
  const nav = new Vue({
    el: '#nav',
    data: {
      logo: '{% static 'image/logo2.png' %}',
      showNav: false,
      query: '',
    },
    methods: {
      goHome: function () {
        window.location.replace("{% url 'todos:index' %}")
      }
    },
  });
</script>
<!-- /.Nav -->